.checkbox {
  display: flex;
  padding: 0.25rem 0.5rem;
}

.checkbox:hover {
  background-color: rgba(var(--shadowed-color), 0.5);
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.label {
  display: block;
  flex: 1;
  padding-left: 0.4rem;
}

[type='checkbox'] {
  border: 1px solid rgba(var(--shadowed-color), 1);
  border-radius: 0.4rem;
  background: transparent;
}
