.checkbox {
  display: flex;
  padding: 0.25rem 0.5rem;
}

.checkbox:hover {
  background-color: #f2f2f2;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.label {
  display: block;
  flex: 1;
}
