.button {
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  opacity: 1;
  border-radius: 0.4rem;
}

.button.success {
  background-color: #277637;
  color: white;
  box-shadow: 0 0 0 1px #246b33;
}

.button.danger {
  background-color: #fccfcf;
  color: #691c1c;
  box-shadow: 0 0 0 1px #dea3a3;
}

.button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button + .button {
  margin-left: 0.5rem;
}
