.item {
  display: inline-flex;
  background-color: #43586b;
  color: #f9f9f9;
  align-items: center;
  border-radius: 0.25rem;
}
.itemLabel {
  position: relative;
  padding: 0.315rem 0.75rem;
}
.itemLabel:after {
  content: '';
  position: absolute;
  top: 4px;
  right: 0;
  bottom: 4px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.7);
}
.itemButton {
  padding: 0.5rem;
  background-color: transparent;
  color: currentColor;
  line-height: 1;
  margin: 0;
  vertical-align: baseline;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.itemButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
