.modal {
  width: 600px;
  border: none;
  box-shadow: 0 0 40px #00000026;
  border-radius: 0.5rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
}
.modalTitle {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}
.modalCloseButton {
  padding: 0.5rem;
  background-color: transparent;
  color: currentColor;
  line-height: 1;
  margin: 0;
  vertical-align: baseline;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.modalFilters {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 0;
}
